.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    width: 100%;
    align-items: center;
   padding: 17px;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
border-radius: 10px;
}
 .navbar img{
	float: left;
	 width:50px;
	  height:70px;
	  margin-top:-17px;
	  padding: 10px;
}

.backgroundpic {
/*	background:url(background.jpeg);*/
	background:url('https://i.imgur.com/FLbblSV.png') no-repeat center center fixed;
    background-repeat: no-repeat;
  /*background-size: cover;*/
  background-size:100% 100%;
  padding:500px;
  
  -webkit-background-size: cover;
}
/*search menue */
.container {
    margin-top: 355px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.searchFilter {
  margin-bottom: 22px;    
}
 .searchFilter.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 16px;
    border-radius: .25rem;
    height: 50px;
    min-width: 20px;
}
.searchFilter .btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border: 1px solid #ccc;
}
.searchFilter .btn-secondary:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.searchFilter .btn-search {
  background-color: #4198E2;
  color: #fff;
  border: 1px solid #00aced;
}
.searchFilter .btn-search:hover {
  background-color: darkgray;
  color: #fff;
  border: 1px solid #b20a11;
}
.searchFilter .label-icon {
  display: none;  
}
.searchFilter .glyphicon {
    margin-right: -15px;
}
.searchFilter .dropdown-menu .category_filters {
  min-width: 178px;
  width: 100%;
  margin: 15px 0 0 -25px;
}
.searchFilter .dropdown-menu-right {
    right: 170px;
    min-width: 175px;
  top: 90%;
}
.searchFilter .dropdown-menu .category_filters li {
  list-style-type: none;
  padding: 2px 10px;
  font-size: 18px;
}
.searchFilter .dropdown-menu .category_filters label {
  margin-left: 15px;
}
@media (min-width: 1400px) {
  .ct-header .ct-jumbotron .inner {
    max-width: 470px;
    min-height: 230px;
  }  
}
@media (max-width: 1400px) {
  .ct-header-slider .item {
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center top;
  }  
}
@media (min-width: 769px) and (max-width: 1400px) {
  .ct-header-slider .item {
    height: auto;  
  }
}
@media (max-width: 1260px) {
  #dots-container {
    display: none;
  }
}
@media (min-width: 992px){
  .ct-footer2 .ct-newsletter {
    max-width: 100%;
  }
  #dots-container {
    bottom: 100px;
  } 
}
@media (min-width: 768px){
  .ct-searchbar:before {
    height: 92px;
    bottom: -1px;
  }
  .page-scrolled .navbar .navbar-nav li > * {
    min-height: 67px;
    height: 67px;
  }
  .page-scrolled .navbar .navbar-nav {
    height: 100%!important;
  }
  .ct-current-facts h2 {
    margin: 0 auto 0px;
  }
  .contentNews .ct-recent-news {
    flex-direction: inherit;
  }
  .contentFaq .faq_question .col-sm-11 {
    padding-right: 0px;
  }
  .peopleDetail h2 {
    margin-top: -5px;
  }
  .searchFilter .btn {
    min-width: 172px;  
  }
  .searchFilter .label-icon {
    display: inline-block;  
  }
  .searchFilter .glyphicon {
    margin-right: -5px;
  }
  .ct-header .ct-jumbotron {
    top: 0;
    margin-top: 5%;
  }
  .ct-header .ct-jumbotron h1 {
    font-size: 2.5em;
  }
  .ct-news.ct-news--bigger h3 {
    font-size: 41px;
    line-height: 1.4;
  }
}
@media (max-width: 768px){
  .ct-header .ct-jumbotron {  
    width: 80%;
    margin: 20px 10px;
    top: 40%;
    width: 95%;
  }}
 
  .ct-header .ct-jumbotron .inner {
    max-width: 100%;
  }
  #dots-container {
    display: none;
  }
  .main-section {
    margin-top: -80px;
  }
  .searchFilter .dropdown-menu-right {
  right: 0px;
  }


/*login css*/
.login{
margin: auto;
width: 450px;
box-shadow: 0px 8px 16px rgb(0,0,0,0.9);
padding: 80px 40px;
margin-top: 81px;
  }

  .pic{
   margin-top: -489px;
margin-left: 324px;
display: flex;
justify-content: center;
 align-items: center;
 height:100%;
width:100%;
box-shadow:  2px rgb(0,0,0,0.9);
  }
  .pic img{
        height: 511px;
    width: 398px;
    padding: 0;
    margin: -22px
  }

 .login h2{margin: 0 0 30px 0 ;
    padding: 10px;
    color: black;
    text-align: center;}
  .login input
    {width: 70%;
      margin-bottom: 30px;
    }
   .login ::lable{
color:black;
    }
  .login input[type=text], input[type=password],input[type=submit], input[type=email]{
     border:2px solid #e9eaec; 
      border-radius: 30px;
      background:#e9eaec;
      box-sizing:border-box;
      color: black;
      padding: 10px; 
      text-align: center;
    }
   .signin-btn input[type=submit]{
      width: 40%;
      align-items: center;
      margin-left:58px;
    }
   .signin-btn  input[type=submit]:hover{
     background-color: lightgray;
    }
   .login ::placeholder{ 
      color:black;
    text-align: center; 
  }
  .login label{
font-weight: bold;
font-size: medium;
color: black;

  }
  .login p,a{
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration:none; 
  }
  .login a{color:#4198E2 }

  .login a:hover{
    text-decoration: underline;
    text-decoration-color: #00bfff;
  }
  /*SIGN UP CSS*/
  .signup{
margin: auto;
width: 450px;
box-shadow: 0px 8px 16px rgb(0,0,0,0.9);
padding: 80px 40px;
margin-top: 81px;
  }

  .pic{
   margin-top: -489px;
margin-left: 324px;
display: flex;
justify-content: center;
 align-items: center;
 height:100%;
width:100%;
box-shadow:  2px rgb(0,0,0,0.9);
  }
  .pic img{
        height: 551px;
    width: 398px;
    padding: 0;
    margin: -61px
  }

 .signup h2{margin: 0 0 30px 0 ;
    padding: 10px;
    color: black;
    text-align: center;}
  .signup input
    {width: 70%;
      margin-bottom: 30px;
    }
   .signup ::lable{
color:black;
    }
  .signup input[type=text], input[type=password],input[type=submit], input[type=email]{
     border:2px solid #e9eaec; 
      border-radius: 30px;
      background:#e9eaec;
      box-sizing:border-box;
      color: black;
      padding: 10px; 
      text-align: center;
    }
   .signup-btn input[type=submit]{
      width: 40%;
      align-items: center;
      margin-left:58px;
    }
   .signup-btn  input[type=submit]:hover{
     background-color: lightgray;
    }
  .signup ::placeholder{ 
      color:black;
    text-align: center; 
  }
  .signup label{
font-weight: bold;
font-size: medium;
color: black;

  }  
/*css section 2 */
.sec2-box{
 /*margin-left: 110px;*/
 /*margin-right:103px;*/
   margin: -683px 20px;
   float: center;
   
  }

/* Float four columns side by side */
.sec2-box .column {
  margin-top: 15px;
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.sec2-box .row {
  margin: 0 400px;
  transform: translate(16%,-155%);
  margin-left: 250px;
}

/* Clear floats after the columns */
.sec2-box .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
.sec2-box @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */

.sec2-box .card img{
  width: 70px;
  height: 70px;
  align-items: center;
}

.sec2-box .card {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
      background-color: #e9eaec;

}
/*chat popup */

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
 
    margin: 17px;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.2;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 66px;
    left: 524px;
    background:rgba(0, 0, 0, 0.2);
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: -315px;
    right: -285px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.chat-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.chat-container textarea {
  width: 260px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.chat-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.chat-container .btn {
  background-color: #ccc4c1;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.chat-container .cancel {
  background-color: #4198E2;
}

/* Add some hover effects to buttons */
.chat-container .btn:hover{
  opacity: 1;
}

/* contact page css*/
.contact-us{
  border-radius: 10px;
  padding: 50px;
  margin: 232px;
  margin-top: 30px;
width: 550px;
height:550px;
box-shadow: 0px -2px 8px rgb(0,0,0,0.9);
}
   .contact-us p{
    text-align:left;
    margin:1px;
    color: black;
    text-decoration-style: bold;


   } 
   .contact-us input[type=text] {
      border-radius: 10px;
      padding: 10px; 
    }

    .contact-us input[type=submit]{
     border:2px solid lightblue; 
      border-radius: 30px;
      background:lightblue;
      box-sizing:border-box;
      color: black;
      padding: 10px; 
      text-align: center;
    }
   .contact-us-btn input[type=submit]{
      width: 40%;
      align-items: center;
      margin-left:58px;
    }
  
    .contact-us ::placeholder{ 
      color:black;
    text-align: left; 
  }
 .contact-us label{
font-weight: bold;
font-size: medium;
color:lightblue;
  }
 

/*  footer   */
.footer{
     width: 100%;
    left: 0px;
    background: white;
    color:#303036;
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 42px;
  }
  .footer-btn{
    margin: 9px;

  }
